{% extends "base.html" %}

{% block title %}Edit rating for: {{ movie.title }}{% endblock %}

{% block content %}
<h1>Edit rating for: {{ movie.title }}</h1>

<p>
  <a href="{% url 'movie_detail' rating.movie.pk %}"
      >{{ movie.title }}</a> {{ rating.stars }}&#9733; <small
      >({{ rating.timestamp }})</small>
      {% if rating.text %}
      <span class="text">{{ rating.text }}</span>
      {% endif %}
</p>
<form method="POST" action="{% url 'edit_rating' user.rater.pk movie.pk  %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit New Rating">
</form>
{% endblock %}


<br>
<input type="hidden" name="movie" value={{rating.movie.pk}}>
<input type="radio" name="rating" value="1" >1 Star
<br>
<input type="radio" name="rating" value="2">2 Stars
<br>
<input type="radio" name="rating" value="3">3 Stars
<br>
<input type="radio" name="rating" value="4">4 Stars
<br>
<input type="radio" name="rating" value="5">5 Stars
<br>
<input type="radio" name="rating" value="delete">Delete rating
<br>
Enter an optional short text review (under 140 characters)
<br>
<input type="text" name="text" style="width: 140;">
<br>
